@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.custom-tabs-container {
    width: 100%;
}
.icon1{
    background: url("airport.svg") no-repeat;
    background-position: 15%;
}
.icon2{
    background: url("origin_dest.svg") no-repeat;
    background-position: 15%;

}
.icon3{
    background: url("airline.svg") no-repeat;
    background-position: 15%;

}
.icon4{
    background: url("departure.svg") no-repeat;
    background-position: 12%;

}

.icon5{
    background: url("arrival.svg") no-repeat;
    background-position: 10%;

}
.custom-tab {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppsins,sans-serif';
    border-top-left-radius: 5px;
    /* border-top-right-radius: 5px; */
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    padding: 20px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab:hover{
    background-color:#DDDDDD  !important;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}
.custom-tab--selected {
    color: black;
    box-shadow: 0px 3px 0px #035BC2;
   
}